{% extends 'layout.html.twig' %}
{% block bodyClass %}score-page{% endblock bodyClass %}
{% block content %}
<div class="content-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-title page-title--yellow text-center">RANG LISTA</h1>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="black-transparent-box black-transparent-box--with-form black-transparent-box--scores">
      <div class="score-table-wrap">
        <div class="score-table-row score-table-header">
          <div class="position position-header">
            POZICIJA
          </div>
          <div class="score score-header">
            REZULTAT
          </div>
          <div class="level level-header">
            NIVO
          </div>
          <div class="spacer" style="clear: both;"></div>
        </div>
        {% for score in scores %}
          {% set scoreData = getScoreData(score.fk_player_id, score.best_score) %}
          <div class="score-table-row">
            <div class="position">
              {{ loop.index }}. {{ scoreData.player.firstname }} {{ scoreData.player.lastname }}
            </div>
            <div class="score">
              {{ scoreData.points }}
            </div>
            <div class="level">
              {{ scoreData.level }}
            </div>
            <div class="spacer" style="clear: both;"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}