<div id="notificationModal" class="modal notification-modal">  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p class="headline">OBAVEŠTENJE</p>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body notification-modal-body">
      <p>Molimo Vas da obavezno sačuvate fiskalni račun i nefiskalni isečak sa kodom.</p>
      <p>Takođe, morate da budete stariji od 18 godina i državljani Republike Srbije za učešće u ovom konkursu.</p>
      <p>Hvala!</p>
      <div class="button-holder">
        <button href="#" class="submit-btn" id="closeNotificationModalBtn">OK</button>
      </div>
    </div>
  </div>
</div>