<div id="privacyModal" class="modal">  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <p class="headline">OBAVEŠTENJE O PRIVATNOSTI KOMPANIJE MOLSON COORS</p>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p>Molson Coors Brewing Company i kompanije u okviru grupe Molson Coors su odgovorne za vaše podatke o ličnosti. Kompanija iz grupe Molson Coors koja je odgovorna za vođenje ovog sajta i obradu vaših podataka o ličnosti je Apatinska pivara Apatin d.o.o. Apatin.</p>
      <p>Ozbiljno pristupamo zaštiti podataka o ličnosti i privatnosti. Detaljne informacije o načinu na koji prikupljamo, koristimo i delimo podatke o ličnosti u okviru svog poslovanja, koja zakonska prava su vam na raspolaganju kako biste upravljali svojom privatnošću i na koji način nam se možete obratiti za podršku, možete naći ako kliknete ovde da biste videli našu <a href="https://www.jelenpivo.com/sr/pravila-i-uslovi-koriscenja" target="_blank">Politiku privatnosti</a></p>
    </div>
  </div>
  <div class="modal-footer">
    <p>Nije dozvoljen pristup mlađima od 18 godina.</p>
  </div>
</div>