{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-feed-title">{{ settings.title }}</h3>

    <div class="sonata-feeds-container">
        <div class="messages">
            <div class="success" style="display:none;">Fajl je uspesno uploadovan</div>
            <div class="error" style="display:none;">Doslo je do greske priliko uploada. Pokusajte ponovo.</div>
        </div>
        <form action="{{ path ("jelen_upload_codes") }}" method="post" enctype="multipart/form-data" id="upload-codes-form">
            <input type="file" name="codes">
            <input type="submit" value="Upload file" id="uploadBtn">
        </form>
    </div>
{% endblock %}