{% extends 'layout.html.twig' %}
{% block bodyClass %}enter-code-page{% endblock %}
{% block content %}
  <div class="content-wrap">
    <div class="container">
      <div class="black-transparent-box black-transparent-box--with-form black-transparent-box--codes">
        <div class="row text-center">
          <h3 class="hello">ZDRAVO {{ player.firstName|upper }} {{ player.lastName|upper }}!</h3>
          {# <h1 class="big-bold-yellow">UNESI KOD<br>SA FISKALNOG RAČUNA<br>I ZAIGRAJ IGRICU</h1> #}
          <h1 class="big-bold-yellow">UNESI KOD SA RAČUNA<br> (dodatak sa fisklanog računa) <br>I ZAIGRAJ IGRICU</h1>
          <form id="code-validation-form" action="{{ path('jelen_interakcije_insert_code') }}" method="POST">
            {% if error is defined %}
              <span class="help-block">
                {% set errorMsg = '' %}
                {% if error == -1 %}
                  {% set errorMsg = 'Unesite validan kod' %}
                {% elseif error == -2 %}
                  {% set errorMsg = 'Uneti kod je iskorišćen' %}
                {% endif %}
                <strong class="text-danger">{{ errorMsg }}</strong>
              </span>
            {% endif %}
            <div class="">
              <div class="">
                <p class="how-to-get-code"><a href="{{ path('jelen_default_prizes') }}"><img src="{{ asset('assets/images/how.png') }}"> Kako da dobijem kod?</a></p>
                <input type="hidden" name="user" value="{{ player.id }}">
                <div class="form-group">
                  <input type="number" pattern="[0-9]*" class="required" placeholder="" name="code">
                </div>  
                <div class="form-group">   
                  <button type="submit" class="submit-btn">{{ 'IGRAJ'|trans|upper }}</button>          
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
  </div>
  
{% endblock %}