<div class="container">
    <div class="row text-center">
        <div class="age-box {% if app.request.cookies.get('ageBoxRead') is null %}none{% endif %}" id="ageBox">
            <div class="logo">
                <img src="{{ asset('assets/images/logo.svg') }}" alt="Logo">
            </div>
            <h1 class="form-title">
                UNESITE DATUM ROĐENJA
            </h1>
            <p class="text-center lead info-txt">Posetioci stranice moraju imati 18 ili više godina.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                {% if ageError is defined %}
                    <div class="col-lg-12 text-center">
                        <strong class="text-danger">Molimo Vas unesite datum Vašeg rođenja</strong>
                    </div>
                {% endif %}
                    <div class="col-lg-12 text-center none" id="minor-age">
                        <strong class="text-danger">Morate biti stariji od 18 godina.</strong>
                    </div>
                    <div class="row age-check">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <select class="" placeholder="DD" id="day" name="day">
                                    <option value="" selected="selected">DD</option>
                                    {% for i in 1..31 %}
                                    <option value="{{ "%02d"|format(i) }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <select class="" placeholder="MM" id="month" name="month">
                                    <option value="" selected="selected">MM</option>
                                    {% for i in 1..12 %}
                                    <option value="{{ "%02d"|format(i) }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <select class="form-control" placeholder="YYYY" id="year" name="year">
                                    <option value="" selected="selected">YYYY</option>
                                    {% for i in 2018..1950 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="register-btn age-btn" id="submitPlay" type="submit" value="UĐI">
                        </div>
                    </div>
                </div>
            </div>
            <p class="txt-small info-txt--small">Ovaj vebsajt čuva “kolačiće” u Vašem pretraživaču da bi poboljšao Vaše iskustvo.<br>
                Za više informacija o "kolačićima”, na koji način se koriste, kao i o zaštiti privatnosti,<br>
                pogledajte našu stranicu sa informacijama o kolačićima.
            </p>
        </div>
    </div>
</div>

{% if app.request.cookies.get('ageBoxRead') is null  %}
{% include 'Modal/privacy.html.twig' %}
{% endif %}