<div class="big-screen-home">
    <img src="{{ asset('assets/images/golman.png') }}">
</div>
<div class="content-wrap content-wrap--home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 home-left-block">
                <img src="{{ asset('assets/images/golman.png') }}" class="hide-on-desktop">
                <img src="{{ asset('assets/images/prizes_home.png') }}">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 home-right-block">
                <div class="info-box">
                    <h3 class="bold-header">PENAL<br>ODBRANI</h3>
                    <h3 class="light-header">DRESOM SE<br>POHVALI!</h3>
                    <div class="info-box--img">
                        <img src="{{ asset('assets/images/steps.png') }}">
                    </div>
                    <div class="play-btn-wrap">
                        <a href="{{ path('jelen_gamecode_index') }}"><img src="{{ asset('assets/images/play.svg') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>