{% extends 'layout.html.twig' %}
{% block bodyClass %}home-page{% endblock %}

{% block content %}

    {% if app.session.has('ageVerified') and app.session.get('ageVerified') %}
        {% include 'Default/home.html.twig' %}
    {% else %}
        {% include 'Default/age.html.twig' %}
    {% endif %}

{% endblock %}


