{% extends 'layout.html.twig' %}
{% block bodyClass %}prizes-page{% endblock %}
{% block content %}
  <div class="content-wrap">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-title page-title--yellow text-center">NAGRADE</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
                <img src="{{ asset('assets/images/prizes_page_left_first.png') }}">
                <div class="play-btn-wrap">
                    <a href="{{ path('jelen_gamecode_index') }}"><img src="{{ asset('assets/images/play.svg') }}"></a>
                </div>
                <img src="{{ asset('assets/images/prizes_page_left_second.png') }}">
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
              <img src="{{ asset('assets/images/prizes_page_right.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}