{% extends 'layout.html.twig' %}
{% block bodyClass %}rules-page{% endblock %}
{% block content %}
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-title page-title--yellow text-center">PRAVILA</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="black-transparent-box black-transparent-box--rules">
        <p class="yellow-txt" style="margin: 30px 0 10px 0;">PRAVILA NAGRADNOG KONKURSA “Penal odbrani, dresom se pohvali”</p>
        <p>Pažljivo pročitajte Pravila nagradnog konkursa („Pravila“). Prijavom na nagradni konkurs (kako je definisano u nastavku), saglasni ste da budete obavezani za ova Pravila.</p>


        <p style="margin: 30px 0 10px 0;"><strong>1. Opšte odredbe</strong></p>
        <p>1.1.  Organizator nagradnog konkursa je Apatinska pivara Apatin d.o.o. iz Apatina, Trg Oslobođenja 5, matični broj 08045577 (dalje: Organizator, Apatinska pivara ili APA).<br>
          Organizator je doneo odluku o organizovanju nagradnog konkursa kojim će se nagraditi učesnici konkursa pod nazivom “PENAL ODBRANI DRESOM SE POHVALI” (u daljem tekstu „Konkurs“), a koji će se sprovesti po ovde utvrđenim i definisanim Pravilima. </p>
        <p>1.2. Naziv konkursa je “PENAL ODBRANI DRESOM SE POHVALI”</p>
        <p>1.3. Konkurs počinje u petak 15.06.2018. godine u 12:00h i završava se u nedelju 15.07.2018. u 23:59h (u daljem tekstu: „Period trajanja konkursa“). </p>
        <p>1.4. Konkurs se organizuje u svrhu promocije proizvoda Organizatora i to piva robne marke Jelen. Organizator je vlasnik registrovanog zaštićenog žiga Jelen.</p>
        <p>1.5. Konkurs se organizuje i sprovodi putem web stranice organizatora –<a href="https://www.jelenpivo.com/" target="_blank">www.jelenpivo.com</a> (u daljem tekstu:“ Website”). </p>
        <p>1.6. Proglašenje pobednika Konkursa će biti izvršeno na način i u rokovima propisanim u Pravilima.</p>
        <p>1.7. Konkurs se organizuje na teritoriji Republike Srbije, izuzev teritorije AP Kosova i Metohije. </p>
        <p>1.8. Predmet konkursa je ostvarivanje najboljeg rezultata kroz igranje Jelen igre branjenje penala u okviru <a href="https://www.jelenpivo.com/" target="_blank">jelenpivo.com</a> website-a, a kroz veštinu i umeće učesnika konkursa.</p>
        <p>1.9. Nagrade koje će biti dodeljene su definisane članom 6. ovih Pravila. </p>

        <p  style="margin: 30px 0 10px 0;"><strong>2. Pravo učešća u Konkursu</strong></p>
        <p>2.1. Pravo učešća u konkursu imaju sledeća lica: državljani Republike Srbije sa prebivalištem na teritoriji Republike Srbije koji su stariji od 18 godina. </p>
        <p>2.2. Pravo učešća u konkursu nemaju sledeća lica: </p>
        <p>2.2.1. Lica koja su u stalnom radnom odnosu ili su po drugom pravnom osnovu angažovana na radu kod Organizatora, kao ni njihovi bračni drugovi, roditelji i deca (u daljem tekstu: članovi najuže porodice); </p>
        <p>2.2.2. Lica koja su u stalnom radnom odnosu ili su po drugom osnovu angažovana kod pravnih i/ili fizičkih lica koja na bilo koji način učestvuju u organizovanju konkursa i/ili imaju pristup podacima vezanim za priređivanje konkursa, kao ni njihovi bračni drugovi, roditelji i deca. </p>
        <p>2.2.3. Maloletna lica, te u skladu sa svim gore navedenim Organizator zadržava pravo da traži proveru ispunjenosti ovog uslova i da u skladu sa tim ne dozvoli učešće na konkursu.</p>
        <p>2.3. Uslovi za učešće na Konkursu više članova najuže porodice: </p>
        <p>2.3.1. U slučaju da na Konkursu učestvuju dva ili više Učesnika koji su članovi najuže porodice i ostvare rezultate koji se nalazi u konkurenciji za glavnu nagradu u toku trajanja Konkursa, ne može svako od njih da dobije nagradu, već se dobitnikom nagrade smatra onaj koji postigne najbolji rezultat. Dakle, ne mogu dva ili više članova iste najuže porodice da budu dobitnici nagrada na ovom Konkursu.</p>


        <p style="margin: 30px 0 10px 0;"><strong>3. Prodajna mesta u kojim se mogu kupiti proizvodi koji učestvuju u ovom nagradnom konkursu i u kojima se može dobiti kontrolni broj potreban za učešće:</strong></p>
        <p>3.1. Idea objekti  na teritoriji cele Republike Srbije u naznačenom periodu iz člana 1.2 ovog Pravilnika. </p>

        <p style="margin: 30px 0 10px 0;"><strong>4. Trajanje Konkursa</strong></p>
        <p>4.1. Konkurs traje od dana 15.06.2018. godine u 12:00h i završava se dana 15.07.2018. godine u 23:59h; </p>
        <p>4.2. Nakon završetka Konkursa biće izvršen presek i proglašenje pobednika, a na način i pod uslovima definisanim u članu 6. Pravila. </p>


        <p style="margin: 30px 0 10px 0;"><strong>5. Mehanizam konkursa</strong></p>
        <p>5.1. Da bi lice steklo pravo da učestvuje na konkursu, potrebno je da tokom Perioda trajanja konkursa iz člana 1.2 ovih Pravila, u naznačenim objektima u člana 3. ovih Pravila, kupe bilo koja četiri (4) Jelena  koja se prodaju kao pojedinačni artikli ili koja se nalaze kao zbirno pakovanje i to: Jelen nosiljka RGB 20 x 0,5l; Jelen RGB 0,5l; Jelen OWB 0,33l; Jelen folija nepovratna retro boca – Bombica 24 x 0,33l; Jelen Dynamark folija CAN 4 x 0,5l; Jelen Dynamark CAN 0,5l; Jelen folija CAN 24 x 0,5l; Jelen folija CAN 4 x 0,5l ; Jelen CAN 0,5l; Jelen folija PET 9 x 1l; Jelen PET 1l; Jelen folija PET 6 x 2l;Jelen PET 2l i Jelen CAN + Chipsy 4 x 0,5l i to u kombinaciji po svom izboru. Bez obzira da li se kupuju pojedinačno ili u zbirnom pakovanju, Kod se generiše samo za četiri (4) pojedinačna proizvoda Jelena, a veći broj od četiri (4) ova pojedinačna proizvoda Jelena na jednom računu ne donosi novi Kod. Npr. ukoliko kupac na jednom računu kupi Jelen nosiljku (gajbu) RGB 20 x 0,5l – ova kupovina nosi jedan Kod. Isto važi i za sva zbirna pakovanja koja se pri kupovini nalaze na jednom računu.</p>
        <p>5.2. Prilikom svake kupovine  četiri Jelena u prodajnim objektima iz člana 3, u periodu trajanja ovog konkursa, potrošač dobija fiskalni račun (dodatak fiskalnog računa) pri obavljenoj kupovini na kome će biti naznačeni sledeći elementi: </p>
        <p>5.2.1. Kontrolni broj (u daljem tekstu:“ Kod“) koji potrošači, potencijalni učesnici konkursa, mogu da iskoriste na web stranici organizatora (<a href="https://www.jelenpivo.com/" target="_blank">jelenpivo.com</a>) kako bi odigrali igru predviđenu ovim Konursom: Penal odbrani, dresom se pohvali. Učesnici su dužni da sačuvaju ove fiskalne račune sa kodom, u slučaju ostvarivanja nagrade i prikaza Organizatoru.</p>
        <p>5.2.2. Jedan Kod se dodeljuje po fiskalnom računu po kupovini, za kupljena bilo koja četiri (4) Jelena u kombinaciji po sopstevnom izboru. Nije moguće imati više Kodova na jednom računu. Radi otklanjanja nedoumice, ukoliko se prilikom jedne kupovine kupe dva puta po četiri Jelena ili više Jelena odjednom, dobija se jedan kod za učestvovanje u ovom konkursu.</p>
        <p>5.3. Učesnik ima pravo da kupi neograničen broj Jelena tokom Perioda trajanja konkursa iz člana 1.2 ovih Pravila, ali ima mogućnost da unese maksimalno 180 kodova po jednom nalogu. </p>
        <p>5.4. Svi Kodovi koji su neophodni za učešće na konkursu se generišu u Idea  sistemu i dodelju prilikom evidentiranja kupovine na kasi. </p>
        <p>5.5. Jedinstveni Kod ima 18 karaktera i sadrži kombinaciju cifara. U okviru slip računa postoji kratka informacija koja upućuje potrošača na web stranicu stranicu i opis mehanizma. </p>
        <p>5.6. Učesnik može da registruje svoj Kod na  <a href="https://www.jelenpivo.com/" target="_blank">jelenpivo.com</a> website-u odmah nakon što ga dobije, a za vreme trajanja nagradnog konkursa. </p>
        <p>Nakon kupovine minimum četiri (4) bilo koja Jelena i dobijanja Koda, potrebno je da se učesnik prijavi, postupajući u skladu sa Pravilima, kako bi se registrovao na Website: </p>
        <p>5.7.1. Poseti web stranicu <a href="https://www.jelenpivo.com/" target="_blank">www.jelenpivo.com</a> </p>

        <p>5.7.2. Registruje se na Web sajt tako što će popuniti sledeće podatke:  <br>
          • Ime <br>
          • Prezime <br>
          • Broj telefona <br>
          • Adresu <br>
          • E-mail adresu <br>
          • Šifra <br>
          kao i da pročita, prihvati i saglasi se sa Pravilima. <br>

          Prihvatanjem pravila učesnik se saglašava i prihvata obaveze propisane Pravilima. Svi uneti podaci moraju biti istiniti i tačni. Registracije u drugačijoj formi od one koja je navedena u ovim Pravilima se neće smatrati ispravnim i neće učestvovati u Konkursu. </p>
        <p>5.7.3. Nakon uspešne registracije, učesnik dobija obaveštenje na ekranu da se uspešno registrovao i time postaje učesnik Konkursa (u daljem tekstu: „Učesnici“). </p>
        <p>5.7.4. Izvršena registracija podrazumeva da je Učesnik napravio svoj nalog na Web stranici organizatora i neće biti potrebno da se ponovo registruje prilikom sledeće posete Web stranici već će biti neophodno da se uloguje sa svojim podacima a to su e-mail i šifra uneseni prilikom registracije. Jedan Učesnik sme da učestvuje na Konkurs samo sa jednim nalogom. </p>
        <p>5.7.5. Nakon ispunjenja uslova iz odredbe člana 5.7.1. - 5.7.3. Pravila potrebno je da Učesnik unese Kod, u za to označeno polje. Učesnik može uneti Kod na Web stranici u bilo kom trenutku tokom trajanja Konkursa. </p>
        <p>5.7.6. Nakon što ispuni uslove iz prethodnih stavova ovog člana, potrebno je da Učesnik odigra igru Penal odbrani dresom se pohvali koja se sastoji od branjenja penala (u daljem tekstu: „Igra“), Potrebno je da Učesnik odbrani što više šuteva iz penala od definisanog broja nivoa i da sakupi što veći broj bodova (svaki učesnik ima 5 ili 6 pokušaja da obrani penal u zavisnosti na kom je nivou, od predviđenih 10 nivoa.)</p>
        <p> 5.7.7 Jelen igra ovog Konkursa „Penal odbrani, dresom se pohvali“ se zasniva na veštini Učesnika koji treba da odbrani što veći broj šuteva iz penala i da sakupi što veći broj bodova. Mogućnost za sakupljanje bodova se povećava sa svakim prelaskom nivoa od kojih je svaki naredni nivo teži od prethodnog, jer se povećava brzina šuta. Ukupno postoji 10 nivoa. Učesnik prelazi sa nivoa na nivo ukoliko obrani najmanje tri šuta iz penala i tako do 10. nivoa. Ukoliko Učesnik ne uspe da odbrani najmanje tri šuta iz penala ostaje na istom nivou. . Učesnik ima pravo tri puta da se ne kvalifikuje za sledeći nivo tj. da ostane na istom nivou. . Ukoliko ne uspe da se kvalifikuje za sledeći nivo ni posle trećeg puta, tada se igra prekida i beleži se njegov broj ostvarenih bodova.<br>
        Svaki odbranjeni šut iz penala donosi 5 bodova, a svaki primljeni gol oduzima 5 bodova. Svaka idealna odbrana penala (u kojoj pozicija rukavica bude savršena i golman uhvati loptu) donosi dodatnih 10 bodova što će biti naznačeno u igrici.<br>
        Za rangiranje Učesnika posmatra se ukupan broj ostvarenih bodova i nivoa koji su dostigli.</p>
        <p>5.7.8 Igra se završava u trenutku kada Učesnik ili pređe sve predviđene nivoe ili ne uspe da se kvalifikuje za sledeći nivo iz tri pokušaja. Na ekranu Učesnika će stajati koliko je ukupno ostvario bodova (daljem tekstu:“ Rezultat“). Ostvareni rezultat se upisuje na rang listu zajedno sa imenom Učesnika i nivoom težine koji je dostigao (u daljem tekstu : „Rang lista“). </p>
        <p>5.7.9. Kriterijum na osnovu koga će se rangirati Učesnici je veština branjenja šuteva iz penala i broj osvojenih bodova, a ukoliko dva ili više Učesnika imaju isti broj ostvarenih bodova, rangiranje će se vršiti prema nivou težine koji su Učesnici dostigli. Učesnik koji je uspeo da dostigne veći nivo težine u igrici će biti bolje rangirani Učesnik. </p>
        <p>5.7.10. U slučaju da dva ili više Učesnika imaju isti broj ostvarenih bodova, ali i dostignu isti nivo težine, biće pozvani da ponovo odigraju igru, gde će bolji rezultat u broju osvojenih bodova i dostignutom nivou težine odlučiti pobednika, bliže definisano u tački 6.7.-6.9. ovih pravila.</p>
        <p>5.7.11. Postupak iz ovog člana se ponavlja pri svakoj novoj kupovini bilo koja četiri Jelena i unošenja Koda, pri čemu će se od svih rezultata koje Učesnik postigne u toku trajanja konkursa računati samo jedan i najbolji rezultat i biti prikazan na rang listi. </p>
        <p>5.7.12. Svi Učesnici su dužni, da radi eventualnog preuzimanja nagrade i validacije/potvrde korišćenih Kodova za učestvovanje u konkursu i odigravanju igrice, na zahtev Organizatora obavezno dostave na uvid sve fiskalne račune (sa fiskalnim dodacima) za obavljene kupovine sa Kodovima koje su uneli na website-u i ostvarili rezultat kojim su osvojili nagradu. </p>
        <p>5.7.13. Sistemska validacija/potvrda unetih Kodova u smislu njihove ispravnosti tj. utvrđivanju da li su uneti Kodovi generisani u Idea sistemu vršiće se i naknadno tj. nakon odigrane igrice. Ukoliko se ovom naknadnom proverom utvrdi da iskorišćeni Kodovi uneti u igricu nisu generisan na opisan način, Učesnik će biti diskvalifikovan i neće moći ostvariti pravo na nagradu, bez obzira da li je Učesnik sakupio dovoljno bodova za nagradu.</p>
        <p>5.8. Rang lista će biti dostupna na Web stranici tokom čitavog perioda trajanja Konkursa, kao i u roku od 7 (sedam) dana od isteka Konkursa. Rang lista će se ažurirati u realnom vremenu. Svaki Učesnik će imati priliku da vidi svoj plasman na Rang listi u toku trajanja Konkursa. </p>
        <p>5.9. Učesnik može uneti najviše 180 Kodova tokom trajanja Konkursa. Svaki uneti Kod učesniku omogućava da jednom odigra igru ovog nagradnog konkursa. </p>
        <p>5.10. Svaki Kod može da bude iskorišćen samo jednom. Ukoliko Učesnik pokuša da ponovo iskoristi već uneti Kod, na ekranu će izaći poruka da Kod nije validan i da pokuša ponovo. Učesnik je u obavezi da sačuva Kod i dokaz o kupovini u obliku fiskalnog računa (fiskalnog dodatka); </p>
        <p>5.11. Organizator ne snosi odgovornost u slučaju bilo kakvih tehničkih nedostataka prilikom registracije ili igranja igre bez obzira na uzrok tehničkog nedostatka, ali će u svakom slučaju angažovati stručno lice u cilju pružanja tehničkih usluga vezano za organizaciju i sprovođenje Konkursa. </p>
        <p>5.12. Učesnici konkursa mogu sva pitanja u vezi sa konkursom, kao i primedbe da proslede u inbox na Facebook stranici <a href="https://www.facebook.com/JelenPivo" target="_blank">https://www.facebook.com/JelenPivo</a> </p>
        <p>5.13. Konkurs se završava 15. jula 2018. u 23:59h što znači da nakon ovog vremena potencijalni učesnici više neće moći da dobiju  Kod kupovinom bilo koja četiri Jelena u navedenim prodajnim objektima, niti da prethodno dobijene Kodove registruju na sajtu. </p>


        <p style="margin: 30px 0 10px 0;"><strong>6. Vrste i dodela nagrada</strong></p>
        <p>6.1. Tokom trajanja Konkursa biće dodeljeno ukupno 500 (petstotina) nagrada (u daljem tekstu: „Glavna nagrada“) Nagrade ne mogu biti zamenjene za novac.</p>
        <p>6.2. Nagrada obuhvata: </p>
        <p>6.2.1. Originalni dres fudbalske reprezentacije Srbije</p>
        <p>6.3. Na kraju Konkursa će biti proglašeni pobednici i biće im dodeljeno 500 (petstotina) nagrada. Pobednici su Učesnici koji su na Rang listi rangirani u na mestima od 1- 500 (u daljem tekstu: „Pobednici“).</p>
        <p>6.4. Rezultati Konkursa pod nazivom Dobitnici dresova – Penal odbrani biće objavljeni najkasnije 17.07.2018. na website-u organizatora i ova lista Pobednika je jedina merodavna za  priznavanje prava na nagradu. </p>
        <p>6.5. Organizator ima pravo da odloži objavu dobitnika iz opravdanih razloga, kao i u slučaju da rok za objavu dospeva na neradan dan. </p>
        <p>6.6. Spisak najbolje rangiranih Učesnika biće objavljivan sve vreme tokom trajanja Konkursa na Web stranici, kao i 30 dana nakon završetka Konkursa. </p>
        <p>6.7. U slučaju da su dva ili više Učesnika ostvarila isti rezultat koji se nalazi u konkurenciji za glavnu nagradu u toku trajanja Konkursa, između svih tih Učesnika će biti organizovano dodatno takmičenje u dodatnoj igri (u daljem tekstu: „Dodatna igra“), kako bi se dobio Pobednik. S tim u vezi, Učesnici će, biti kontaktirani u roku od 24 sata od isteka trajanja Kokursa i to putem e-mail-a koji je Učesnik dostavio prilikom registracije. Tom prilikom će svakom od Učesnika biti dostavljen po novi Kod, posebno kreiran za Dodatnu igru (u daljem tekstu: „Dopunski kod“), koji će Učesnik moći da iskoristi u naredna 24h od prijema e-mail-a. Ukoliko Učesnik ne iskoristi Dopunski kod u navedenom roku smatraće se da je isti odustao od Nagrade. </p>
        <p>6.8. Dopunska igra se izvodi tako što svaki Učesnik igra po jednu partiju Jelen igre „Penal odbrani, dresom se pohvali“ i onaj ko postigne bolji rezultat je Pobednik. U slučaju da je rezultat nerešen dodatna igra će se na isti način ponavljati sve dok jedan od Učesnika ne pobedi. </p>        
        <p>6.9. Nakon odigrane Dodatne igre rangiranje Učesnika će se izvršiti prema rezultatima ostvarenim u toj igri, te će se isti, shodno postignutom rezultatu rangirati kao Pobednik i dobitnik/ci Glavnih nagrada. Shodno tome, nakon završetka Dodatne igre Rang lista će biti ažurirana i konačna Rang lista će biti objavljena na website-u , u roku definisanom pravilima. </p>
        <p>6.10. Učesnik koji je dao neistinite, netačne odnosno tuđe podatke gubi pravo na dalje učešće, odnosno u tom slučaju isti će biti diskvalifikovan, te ukoliko je bio rangiran na Rang listi na poziciji koja ostvaruje pravo na nagradu ista će biti dodeljena drugom Učesniku, u skladu sa Pravilima. </p>
        <p>6.11. Lica koja su dala netačne ili tuđe podatke isključivo odgovaraju za takvu zloupotrebu podataka.</p>
        <p>6.12. Podaci o Učesnicima Konkursa koji su osvojili nagrade će biti objavljeni na Web stranici Organizatora dok traje konkurs i neposredno nakon završetka konkursa, a najkasnije do okončanja promocije konkursa. </p>
        <p>6.13. Svi učesnici koji su osvojili nagradu odnosno na Rang Listi iz člana 5.8. Pravila su rangirani od 1 (prvog) do 500. (petstotog mesta) u u toku trajanja Konkursa, dužni su da na zahtev Organizatora dostave na uvid sve fiskalne račune (fiskalne dodatke) za obavljene kupovine sa Kodovima koje su uneli na website-u i ostvarili rezultat kojim su osvojili glavnu nagradu. </p>


        <p style="margin: 30px 0 10px 0;"><strong>7. Način i rok predaje nagrada</strong></p>
        <p>7.1. Organizator će kontaktirati Pobednike u roku od 96 sata od objave pobednika na website-u organizatora, a u cilju dodele nagrade, a putem kontakta koji je učesnik dostavio prilikom registracije, u cilju dostave nagrada.</p>
        <p>7.2. Organizator ne snosi odgovornost u slučaju da ne može da stupi u kontakt sa ma kojim od Pobednika, odnosno dobitnika nagrade, iz razloga koji ne spadaju u odgovornost Organizatora ili ukoliko Pobedniku ne može da se dostavi nagrada u roku od 2 (dva) radna dana predviđenom ovim Pravilima. </p>
        <p>7.3. Prilikom dostavljanja nagrade, Pobednik će se legitimisati odgovarajućom ličnom ispravom (lična karta ili pasoš), fiskalni račun (fiskalni dodatak) kao dokaz kupovine proizvoda. Pobednik će popuniti i potpisati odgovarajući formular prilikom preuzimanja nagrade. </p>
        <p>7.4. Ukoliko je iz ličnog dokumenta vidljivo da potencijalni Pobednik nije državljanin Republike Srbije, nema prebivalište na teritoriji Republike Srbije ili da nije punoletan nagrada će se dodeliti prvom sledećem Učesniku na Rang listi koju je za tu konkretnu fazu Organizator objavio na Web stranici. Ukoliko ni drugoplasirani ne ispunjava uslove iz ovog člana nagrada će biti dodeljena prvom narednom Učesniku na Rang listi za tu fazu koji ispunjava uslove. </p>
        <p>7.5. Ukoliko bilo koji od Pobednika Konkursa postupi suprotno ovim obavezama, odnosno ne pruži potrebne podatke prilikom preuzimanja Glavne nagrade, Organizator nije u obavezi da mu dodeli nagradu, u tom slučaju se nagrada dodeljuje prvom sledećem Učesniku na Rang listi koju je za tu fazu Organizator objavio na Web stranici. Ukoliko ni drugoplasirani ne ispunjava uslove iz ovog člana nagrada će biti dodeljena prvom narednom Učesniku na Rang listi za tu fazu koji ispunjava uslove. </p>
        <p>7.6. U slučaju da Pobednik Konkursa nije u mogućnosti da preuzme nagradu, nema pravo da istu prenese na treća lica, uključujući i članove najuže porodice, već će nagrada biti dodeljena prvom sledećem Učesniku na Rang listi koju je Organizator objavio na Web stranici. Ukoliko ni drugoplasirani ne ispunjava uslove iz ovog člana nagrada će biti dodeljena prvom narednom Učesniku na Rang listi koji ispunjava uslove. </p>
        <p>7.7. Nagrada je neprenosiva i može je iskoristiti samo pobednik, tj. dobitnik nagrade. Nagrada se ne može preneti na treća lica, uključujući, a ne ograničavajući se na članove najuže porodice dobitnika nagrade. </p>
        <p>7.8. Prilikom preuzimanja nagrade Pobednik će potpisati izjavu o preuzimanju nagrade. </p>
        <p>7.9. Organizator snosi sve troškove dostave nagrada svim Pobednicima konkursa, prema rang listi objavljenoj na način koji je naveden u ovim Pravilima.</p>
        <p>7.10. Organizator Konkursa neće snositi odgovornost zbog nemogućnosti uručivanja nagrade iz razloga koji su na strani Pobednika i u tom slučaju će se smatrati da je Pobednik, odustao od prava na istu i ona će u tom slučaju biti dodeljena prvom narednom Učesniku na Rang listi koji ispunjava uslove propisane Pravilima. </p>


        <p style="margin: 30px 0 10px 0;"><strong>8. Lični podaci</strong></p>
        <p>8.1 Učesnik koji se saglasi sa ovim Pravilima pristaje da Organizator obrađuje njegove lične podatke, u toku trajanja konkursa kako je opisano u ovim Pravilima  u skladu sa Zakonom o zaštiti podataka o ličnosti („Sl. Glasnik RS“, br. 97/2008, 104/2009, - drugi zakon, 68/2012-odlika US i 107/212) („Zakon“).</p>
        <p>8.2. Podaci o ličnosti Učesnika Konkursa: ime i prezime, broj telefona adresa  i email adresa će biti prikupljeni, obrađeni i korišćeni od strane Organizatora za potrebe organizovanja Konkursa koje će obuhvatiti:<p>
          - obaveštenje u vezi Konkursa, <r>
          - obaveštenje u vezi izmenjenih Pravila. </p>
        <p>8.3 Podaci o ličnosti Učesnika konkursa: ime i prezime će se objavljivati na Web sajtu Organizatora u cilju organizovanja Konkursa i to isključivo radi rangiranja Učesnika na Rang listi.</p>
        <p>8.4 Podaci o ličnosti Učesnika koji su dobitnici nagrade: ime i prezime, broj telefona, adresa, email adresa, državljanstvo slika, video materijal,  će se prikupljati, obrađivati od strane Organizatora za potrebe organizovanja Konkursa,  kao  i publiciteta u vezi Konkursa, što će obuhvatiti:<br>
            - dodelu nagrada,  <br>
            - predstavljanje Dobitnika. </p>
        <p>8.5 Na osnovu članaova 19-22 Zakona svako lice koje učestvuje na Konkurs ima pravo da zahteva obaveštenje, stavljanje na uvid i/ili kopiju podataka koji se odnose njega i sva prava na osnovu uvida (isprvka, ažuriranje i drugo), kao i pravo da pristanak na obradu opozove u svakom trenutku tako što će poslati pisani zahtev na email adresu Organizatora <a href="mailto:info.apa@apa.rs">info.apa@apa.rs</a>. U  slučaju opoziva lični podaci tog Učesnika se brišu, a nakon podnošenja zahteva za opoziv taj Učesnik  gubi pravo na dalje učešće na Konkursu. U slučaju nedozvoljene obrade ličnih posataka svaki Učesnik ostvaruje svoja prava u skladu sa pravnim propisima Republike Srbije. </p>


        <p style="margin: 30px 0 10px 0;"><strong>9. Diskvalifikacija iz programa</strong></p>
        <p>9.1. Korišćenje bilo kakve vrste kompjuterskog koda, virusa, ili bilo čega što može ometati, onemogućiti, naneti štetu, ili predstavljati zloupotrebu je zabranjeno. Takvi postupci mogu dovesti do eliminacije učesnika iz konkursa. Ukoliko se proceni ili posumnja da neki od učesnika na bilo koji način zloupotrebljava sistem rangiranja korisnika (uključujući, a ne ograničavajući se na: ostvarivanje nerealnih rezultata, ostvarivanje perfektnih rezultata na najtežim nivoima igre, bilo kakva manipulacija sa ostvarenim rezultatima ili bilo kakve naznake da je korisnik na bilo koji način izvršio zloupotrebu), Organizator zadržava pravo da ih diskvalifikuje iz konkursa i zanemari njihove ostvarene rezultate bez daljeg obrazloženja.</p>
        <p>9.2. Registrovanje više različitih naloga za učešće na konkursu od strane jedne osobe je zabranjeno i može dovesti do eliminacije učesnika iz konkursa.</p>
        <p>9.3. Organizator će nadzirati i kontrolisati ceo tok igranja igre „Penal odbrani, dresom se pohvali“ svakog od Učesnika. Za svaki pokušaj zloupotrebe, prevare ili bilo koje druge nedozvoljene radnje biće preduzete zakonom predviđene mere prema tim licima od strane Organizatora. </p>


        <p style="margin: 30px 0 10px 0;"><strong>10. Isključenje i ograničenje odgovornosti </strong></p>
        <p>10.1. Organizator ne odgovara za štetu koju pretrpi Pobednik, a koja je prouzrokovna isključivom radnjom tog lica, kao i radnjama trećih lica za koje Ogranizator ne odgovara. </p>


        <p style="margin: 30px 0 10px 0;"><strong>11. Završne odredbe</strong></p>
        <p>11.1. Učesnici mogu postavljati pitanja u vezi sa programom na FB stranici u okviru privatne poruke ili javno na <a href="https://www.facebook.com/JelenPivo" target="_blank">Jelen Pivo Facebook stranici</a>. </p>
        <p>11.2. Organizator će Učesniku koji je poslao upit na način opisan u članu 11.1. Pravila dostaviti odgovor putem Facebook stranice organizatora javno ili u vidu privatne poruke u roku od najviše 5 (pet) radnih dana. </p>
        <p>11.3. Konkurs se može prekinuti u slučaju da nastupe okolnosti za koje Organizator nije odgovoran, odnosno koje nije mogao predvideti, sprečiti, otkloniti ili izbeći, a koje bitno utiču na sprovođenje i realizaciju konkursa. </p>
        <p>11.4. Organizator ne preuzima odgovornost u slučaju spora između Učesnika Konkursa u vezi vlasništva nad poslatim Kodovima. </p>
        <p>11.5. Sporovi u vezi sa vlasništvom nad poslatim Kodovima neće uticati na pravilo po kome Organizator dodeljuje Glavnu nagradu osobi koja se u smislu ovih Pravila smatra Pobednikom </p>
        <p>11.6. Učesnici će o eventualnom prekidu programa biti obavešteni putem Facebook stranice Organizatora <a href="https://www.facebook.com/JelenPivo" target="_blank">https://www.facebook.com/JelenPivo</a></p>
        <p>11.7. Apatinska pivara obaveštava sve učesnike na ovom konkursu da isti ima isključivo zabavni karakter, da se učešće ni na koji način i ni pod kojim uslovima, posredno ili neposredno ne naplaćuje.<br/>
        Prijavom za učestvovanje na ovom konkursu svaki Učenik potvrđuje da je upoznat/a sa pravom Organizatora da pri realizaciji ovog konkursa ne prihvati ili ukloni sve komentare, tekstove, zapise, fotografije i druge materijale koje po svom nahođenju smatra neprihvatljivim, zbog toga što nisu u skladu sa propisima ili nisu u skladu sa pozitivnim vrednostima koje Apatinska pivara promoviše (biće uklonjene poruke koje se dovode u vezu sa: nasiljem, stavljanjem maloletnih lica u vezu sa alkoholom, povezivanjem alkohola i vožnje, pozivanjem na nasilje, nacionalnu, versku, rasnu ili bilo koju drugu vrstu netrpeljivosti i koje nisu u skladu sa internom politikom promovisanja brenda – dovođenje brenda u lošu konotaciju, itd.).<br>
        Takođe, prijavom za učestvovanje na ovom konkursu svaki učesnik potvrđuje da Organizator ne snosi odgovornost u slučaju zloupotrebe materijala (fotografija, i dr.) kao i da Organizator nije odgovoran za štetu koja mu može nasta ti usled (zlo)upotrebe podataka koje ostavljam ovim putem, da se lični podaci učesnika, kao što su adresa stanovanja i kontakt telefon, prikupljaju isključivo zbog identifikacije dobitnika poklona, te da su učesnici obavešteni o svom pravu da svoj pristanak na davanje ličnih podataka mogu da opozovu, kao i svojim pravima u slučaju nedozvoljene obrade. </p>
        <p>11.8. U slučaju spora između Organizatora i učesnika nadležan je sud u Somboru. </p>
        <p>11.9. Ova Pravila objavljuju se na Web stranici Organizatora. </p>

        <p class="last-rule-paragraph">
          U Beogradu, 23. maj 2018. godine <br> <br>

          APATINSKA PIVARA APATIN D.O.O. <br>
          Zakonski zastupnik – direktor <br>
          Vladimir Novaković
        </p>





        


      </div>
    </div>
  </div>  
{% endblock %}