{% extends 'JelenBundle::layout.html.twig' %}
{% block bodyClass %}score-page{% endblock %}

{% block content %}
<div class="content-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-title page-title--yellow text-center">RANG LISTA</h1>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="black-transparent-box black-transparent-box--with-form">
      <div class="score-table-wrap">
        <div class="score-table-row score-table-header">
          <div class="position position-header">
              POZICIJA
            </div>
            <div class="score score-header">
              POZICIJA
            </div>
            <div class="level level-header">
              NIVO
            </div>
            <div class="spacer" style="clear: both;"></div>
          </div>
          <div class="score-table-row">
            <div class="position">
              1. Simonida Sokolović
            </div>
          <div class="score">
            100
          </div>
          <div class="level">
            100
          </div>
          <div class="spacer" style="clear: both;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}