{% extends 'layout.html.twig' %}

{% block content %}
  {% if registrationError is defined %}
    <div class="text-center error-msg info">
      <strong>{{ 'Email adresa je iskorišćena'|trans }}</strong>
    </div>
  {% endif %}
   {{ render(controller('App\\Controller\\InterakcijeController::register')) }}
{% endblock %}