{% extends 'layout.html.twig' %}
{% block bodyClass %}login-page{% endblock bodyClass %}
{% block content %}
<div class="content-wrap">
  <div class="container">
    <div class="black-transparent-box black-transparent-box--with-form">
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="form-title">PRIJAVI SE</h1>
          <p class="info-txt">Nemaš nalog? Registruj se <a href="{{ path('jelen_default_registration') }}">ovde</a>.</p>
          {% if error is defined %}
            <p class="error-msg">Neispravan email ili lozinka</p>
          {% endif %}
          <p class="no-emil-error-msg error-msg none">Uneta e-mail adresa ne postoji u sistemu. Molimo da se prethodno registrujete.</p>

          <form action="{{ path("jelen_default_login") }}" method="post" id="login-form" novalidate="novalidate">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="form-group">
              <label>Email adresa</label>
              <input type="text" class="form-control required" name="_username" placeholder="e-mail" id="email">
            </div>
            <div class="form-group">
              <label>Lozinka</label>
              <input type="password" id="password" class="form-control required" name="_password" placeholder="lozinka">
            </div>
            <div class="">
            <div class="form-group">
              <button id="loginUserBtn" class="submit-btn" name="login" >POTVRDI</button>
            </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'Modal/notification.html.twig' %}
{% endblock %}