
<div class="content-wrap content-wrap--registration">
  <div class="container">
    <div class="black-transparent-box black-transparent-box--with-form registration-form">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="form-title">Registracija</h2>
        </div>
      </div>
      <div class="row">
          {% if registrationError is defined %}
            <p class="error-msg">Email adresa je već iskorišćena</p>
          {% endif %}
          {{ form_start(form, {'attr' : {'id': 'user-registration-form', 'class' :'forms'}}) }}
            {{ form_errors(form) }}
            <div class="col-lg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName, {'attr' : {'class' : 'required ', 'placeholder' : 'Ime'}}) }}
              </div>
              <div class="form-group">
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName, {'attr' : {'class' : 'required ', 'placeholder' : 'Prezime'}}) }}
              </div>
              <div class="form-group">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr' : {'class' : 'required', 'placeholder' : 'E-mail'}}) }}
              </div>
              <div class="form-group">
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {'attr' : {'class' : 'required', 'placeholder' : 'Lozinka', 'minlength' : 4}}) }}
              </div>  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                    
              <div class="form-group">    
                {{ form_errors(form.phone) }}
                <span class="form-group">{{ form_widget(form.phone, {'attr' : {'class' : 'required', 'placeholder' : 'Broj telefona'}}) }}
              </div>  
              <div class="form-group">
                {{ form_errors(form.address) }}
                {{ form_widget(form.address, {'attr' : {'class' : 'required', 'placeholder' : 'Ulica i broj'}}) }}
              </div>
              <div class="form-group">
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, {'attr' : {'class' : 'required', 'placeholder' : 'Mesto'}}) }}
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button id="register-user-btn" class="submit-btn" name="register-user" type="submit" >{{ 'Potvrdi'|trans|upper }}</button>
                <p class="registration-info">Klikom na dugme "Potvrdi" garantujete da ste pročitali i da ste saglasni sa <a href="{{ path('jelen_default_rules') }}" target="_blank">Pravilima</a> nagradne igre.</p>
              </div>
            </div>
          {{ form_end(form) }}
    </div>
  </div>
</div>
</div>
