{% extends 'layout.html.twig' %}

{% block bodyId %}game{% endblock %}

{% block headerstyle %}
{#  {% stylesheets#}
{#      'bower_components/components-font-awesome/css/fontawesome.min.css'#}
{#      'bower_components/jquery.form-styler/dist/jquery.formstyler.css'#}
{#      'bower_components/jquery.scrollbar/jquery.scrollbar.css'#}
{#      'bundles/jelen/css/reset.css'#}
{#      'bundles/jelen/css/main.css'#}
{#      'bundles/jelen/css/orientation_utils.css'#}
{#      'bundles/jelen/css/style.css'#}
{#      filter='cssrewrite'#}
{#      output='css/style_game.css'#}
{#  %}#}
{#      <link rel="stylesheet" href="{{ asset_url }}?ver={{ 'now'|date('YmdHis') }}" />#}
{#  {% endstylesheets %}#}

    <link rel="stylesheet" href="{{ asset('assets/css/minified.css') }}?ver={{ 'now'|date('YmdHis') }}" />
{% endblock %}

{% block headerscript %}
<script>

  CMS.data = {
    numOfLives: "{{ app.session.get('numOfLives') }}",
    wsSrv: '{{ getenv('WS_SERVER') ~ ':' ~ getenv('WS_PORT') }}',
    wsPort: '{{ getenv('WS_PORT') }}',
  }

</script>
{% endblock %}

{% block content %}
  <div id="game">
    <canvas id="canvas" class='ani_hack' width="1280" height="768"> </canvas>
    <div data-orientation="landscape" class="orientation-msg-container"><p class="orientation-msg-text">Rotiraj svoj telefon</p></div>
    <div id="block_game" style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%; display:none"></div>
  </div>

  <input type="hidden" id="playerId" name="playerId" value="{{ app.session.get('playerId') }}">
  <input type="hidden" id="gameCode" name="gameCode" value="{{ app.session.get('gameCode') }}">
  <input type="hidden" id="gameId" name="gameId" value="{{ app.session.get('gameId') }}">

{% endblock %}

{% block footerscripts %}
  <script src="{{ absolute_url(asset('bundles/fosjsrouting/js/router.js')) }}"></script>
  <script src="{{ url('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

  <script src="{{ absolute_url(asset('assets/js/game-minified.js')) }}?ver={{ 'now'|date('YmdHis') }}"></script>

{#  {% javascripts#}

{#      'bower_components/jquery/dist/jquery.js'#}
{#      'bower_components/jquery.form-styler/dist/jquery.formstyler.js'#}
{#      'bower_components/jquery.scrollbar/jquery.scrollbar.js'#}
{#      'bower_components/jquery-validation/dist/jquery.validate.min.js'#}
{#      'bower_components/jquery-form/jquery.form.js'#}
{#      'bower_components/moment/min/moment-with-locales.min.js'#}

{#      'bower_components/js-storage/js.storage.min.js'#}
{#      '@JelenBundle/Resources/public/js/createjs-2015.11.26.min.js'#}
{#      '@JelenBundle/Resources/public/js/howler.min.js'#}
{#      '@JelenBundle/Resources/public/js/screenfull.js'#}
{#      '@JelenBundle/Resources/public/js/ctl_utils.js'#}
{#      '@JelenBundle/Resources/public/js/sprite_lib.js'#}
{#      '@JelenBundle/Resources/public/js/settings.js'#}
{#      '@JelenBundle/Resources/public/js/CLang.js'#}
{#      '@JelenBundle/Resources/public/js/CPreloader.js'#}
{#      '@JelenBundle/Resources/public/js/CMain.js'#}
{#      '@JelenBundle/Resources/public/js/CTextButton.js'#}
{#      '@JelenBundle/Resources/public/js/CToggle.js'#}
{#      '@JelenBundle/Resources/public/js/CGfxButton.js'#}
{#      '@JelenBundle/Resources/public/js/CMenu.js'#}
{#      '@JelenBundle/Resources/public/js/CGame.js'#}
{#      '@JelenBundle/Resources/public/js/CInterface.js'#}
{#      '@JelenBundle/Resources/public/js/CHelpPanel.js'#}
{#      '@JelenBundle/Resources/public/js/cannon.js'#}
{#      '@JelenBundle/Resources/public/js/cannon.demo.js'#}
{#      '@JelenBundle/Resources/public/js/CLevelMenu.js'#}
{#      '@JelenBundle/Resources/public/js/CLevelBut.js'#}
{#      '@JelenBundle/Resources/public/js/CBall.js'#}
{#      '@JelenBundle/Resources/public/js/CScenario.js'#}
{#      '@JelenBundle/Resources/public/js/Three.js'#}
{#      '@JelenBundle/Resources/public/js/Detector.js'#}
{#      '@JelenBundle/Resources/public/js/smoothie.js'#}
{#      '@JelenBundle/Resources/public/js/Stats.js'#}
{#      '@JelenBundle/Resources/public/js/TrackballControls.js'#}
{#      '@JelenBundle/Resources/public/js/dat.gui.js'#}
{#      '@JelenBundle/Resources/public/js/CGoal.js'#}
{#      '@JelenBundle/Resources/public/js/CWinPanel.js'#}
{#      '@JelenBundle/Resources/public/js/CGloves.js'#}
{#      '@JelenBundle/Resources/public/js/CLosePanel.js'#}
{#      '@JelenBundle/Resources/public/js/CAreYouSurePanel.js'#}
{#      '@JelenBundle/Resources/public/js/CCreditsPanel.js'#}
{#      '@JelenBundle/Resources/public/js/CConfirmPanel.js'#}
{#      '@JelenBundle/Resources/public/js/CPause.js'#}
{#      '@JelenBundle/Resources/public/js/COpponent.js'#}
{#      '@JelenBundle/Resources/public/js/CMsgBox.js'#}
{#      '@JelenBundle/Resources/public/js/custom.js'#}

{#      #}
{#  %}#}
{#      <script src="{{ absolute_url(asset_url) }}?ver={{ 'now'|date('YmdHis') }}" type="text/javascript"></script>#}
{#  {% endjavascripts %}            #}
{% endblock %}