<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <p class="copyrights">Ovaj sajt i njegov sadržaj su vlasništvo Apatinske pivare Politika<br>
        privatnosti © 2018. Sva prava zadržana. <a href="mailto:info.apa@apa.rs">info.apa@apa.rs</a></p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="social-media">
                                        <ul>
                                            <li><a href="https://www.facebook.com/JelenPivo/?ref=br_rs" target="_blank"><img src="{{ asset('assets/images/fb.svg') }}"></a></li>
                                            <li><a href="https://www.instagram.com/jelenpivo/" target="_blank"><img src="{{ asset('assets/images/insta.svg') }}"></a></li>
                                            <li><a href="https://www.youtube.com/user/jelenpivosrbija" target="_blank"><img src="{{ asset('assets/images/yt.svg') }}"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="partners">
                        <ul>
                            {# <li><a href="https://www.roda.rs/" target="_blank"><img src="{{ asset('assets/images/partners/roda.svg') }}"></a></li> #}
                            <li><a href="https://www.idea.rs/" target="_blank"><img src="{{ asset('assets/images/partners/idea.svg') }}"></a></li>
                            {# <li><a href="http://mercatorcentar.rs/" target="_blank"><img src="{{ asset('assets/images/partners/mercator.svg') }}"></a></li> #}
                            <li class="apatinska"><a href="http://www.apatinskapivara.rs/sr-latn-rs" target="_blank"><img src="{{ asset('assets/images/partners/apatinska_pivara.png') }}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>