<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navigation">
                    <div class="site-branding">
                        <a href="{{ path('jelen_default_index') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt="Logo"></a>
                    </div>
                    <div class="mobile-menu-btn">
                        <a id="toggle-mobile-menu" href="#">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </a>
                    </div>
                    <nav>
                        <ul class="main-navigation">
                            <li class="{% if app.request.get('_route') == 'jelen_default_index' %}active{% endif %}"><a href="{{ path('jelen_default_index') }}">Home</a></li>
                            <li class="{% if app.request.get('_route') == 'jelen_game_index' %}active{% endif %}"><a href="{{ path('jelen_game_index') }}">Igrica</a></li>
                            <li class="{% if app.request.get('_route') == 'jelen_score_index' %}active{% endif %}"><a href="{{ path('jelen_score_index') }}">Rang lista</a></li>
                            <li class="{% if app.request.get('_route') == 'jelen_default_prizes' %}active{% endif %}"><a href="{{ path('jelen_default_prizes') }}">Nagrade</a></li>
                            <li class="{% if app.request.get('_route') == 'jelen_default_rules' %}active{% endif %}"><a href="{{ path('jelen_default_rules') }}">Pravila</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>