<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">

{#        {% block headerstyle %}#}
{#            {% stylesheets#}

{#                'bower_components/select2/dist/css/select2.min.css'#}
{#                'bundles/jelen/css/style.css'#}
{#                filter='cssrewrite'#}
{#                output='css/style.css'#}
{#            %}#}
{#                <link rel="stylesheet" href="{{ asset_url }}?ver={{ 'now'|date('YmdHis') }}" />#}
{#            {% endstylesheets %}#}
{#        {% endblock headerstyle %}#}


        <link rel="stylesheet" href="{{ asset('assets/node_modules/select2/dist/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}?ver={{ 'now'|date('YmdHis') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicon32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon16x16.png') }}">
        <title>Jelen</title>
        <meta name="description" content="">

        <script>
          var CMS = window.CMS || {};
          CMS.data = {};
        </script>
        {% block headerscript %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        {% if app.environment != 'dev' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120788524-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120788524-1');
        </script>
        {% endif %}
    </head>
    <body class="full-bg {% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">
        {% if app.session.has('ageVerified') and app.session.get('ageVerified') and app.request.pathInfo != '/igra/' %}
            {% include 'header.html.twig' %}
        {% endif %}
        
            {% block content %}{% endblock content %}

        {% if app.session.has('ageVerified') and app.session.get('ageVerified') and app.request.pathInfo != '/igra/' %}
            {% include 'footer.html.twig' %}
        {% endif %}

        <div class="">
            <div class="row">
                {% block footer %}{% endblock footer %}
            </div>
        </div>    
        
        {% block modal %}{% endblock modal %}


        <!-- js -->
        {% block footerscripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{#        {% javascripts#}

            <script src="{{ asset('assets/node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('assets/node_modules/jquery-form/dist/jquery.form.min.js') }}"></script>
            <script src="{{ asset('assets/node_modules/select2/dist/js/select2.min.js') }}"></script>
            <script src="{{ asset('assets/node_modules/js-storage/js.storage.min.js') }}"></script>
            <script src="{{ asset('assets/js/custom.js') }}"></script>
{#            'bower_components/jquery-validation/dist/jquery.validate.min.js'#}
{#            'bower_components/jquery-form/jquery.form.js'#}
{#            'bower_components/moment/min/moment-with-locales.min.js'#}
{#            'bower_components/select2/dist/js/select2.min.js'#}
{#            'bower_components/js-storage/js.storage.min.js'#}
{#            #}
{#            '@JelenBundle/Resources/public/js/custom.js'#}
{#            #}
{#        %}#}

{#            <script src="{{ absolute_url(asset_url) }}?ver={{ 'now'|date('YmdHis') }}" type="text/javascript"></script>#}
{#        {% endjavascripts %}            #}
        {% endblock footerscripts %}
        {% block footer_js %}{% endblock footer_js %}

    </body>
</html>
